form {
    margin: 100px auto;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    width: 500px;
    background-color: black;
}

/* .MuiCardContent-root {
    background-color: black;
} */
input{
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    height: 25px;
}
input[type=text] {
    padding-left: 15px;
}
label {
    color: white;
    margin-top: 20px;
}