#flex {
    display: flex;
    flex-direction: column;
}

#mobile-buttons {
    display: none;
} 

@media screen and (max-width: 600px) {
    #flex {
        width: 300px;
    }
    #desktop-buttons {
        display: none;
    }
    #mobile-buttons {
        align-self: flex-end;
        display: block;
    }
}