.nav-bar {
    background-color: black;
}

.icon {
    color: white;
}

.item {
    color: black;
}

@media screen and (min-width: 600px) {
    .hidden {
        display: none;
        color: black;
    }
}