a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: 10vw;
    margin-bottom: 50px;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.container {
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../../ocean.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 0;
    min-width: 100%;
    text-align: center;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 80px;
    }
}