a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: 8vw;
    margin-bottom: 50px;
    color: white;
}

.container {
    text-align: center;
    margin: 0 auto;
    /* width: 100%; */

}

.banner{
    background-color: black;
    /* position: fixed; */
    width: 100%;

}
